{% extends 'stocks/base.html' %}

<!-- Template tab title to provide contextual title tag for each page that is generated -->
{% block title %}webStock - Login{% endblock title %}

{% block content %}
    <h1>Login</h1>
<!-- Login Form -->
    <form method="POST">
        {% csrf_token %}
        {{ form.as_p }}
    <button class="btn btn-outline-secondary my-2 my-sm-0" type="submit">Login</button>
    </form>
    <br>
    If you don't already have an account, <a href="/register"><strong>register</strong></a> instead.

{% endblock content %}