{% extends 'stocks/base.html' %}
<!-- Template tab title to provide contextual title tag for each page that is generated -->
{% block title %}webStock - Remove{% endblock title %}

<!-- Remove a stock from the database/portfolio-->
{% block content %}
    <h1>Remove Stock</h1>
    {% if ticker %}
        {% for item in ticker %}
            {{ item }} - <a href="{% url 'stocks:delete' item.id %}">Remove {{item}}</a><br>
        {% endfor %}
        {% else %}
         You do not have any stocks in your portfolio...
    {% endif %}
{% endblock content %}